/* --- Utilities --- */
.tabular-nums {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}

/* --- Range Input Reset --- */
/* This makes the range input invisible but clickable/draggable */
input[type=range] {
    --webkit-appearance: none;
    background: transparent;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1px; width: 1px; opacity: 0;
}
input[type=range]:focus {
    outline: none;
}